.divider_container {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

.divider_line {
    flex-grow: 1;
    height: 0.3rem;
    background-color: black;
}

span {
    margin: 0 0.5em;
    font-size: 3rem;
    color: #000;
}