.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    z-index: 3;
    background-color: transparent;
    background-repeat: repeat-x;
    transition: 0.2s ease-in-out;
    border-image-slice: 1;
}

.navbar--notHome {
    background-color: var(--color1);
    border-bottom: 0.4rem solid #000;
}

.navbar--scrolled {
    background-color: var(--color1);
    border-bottom: 0.4rem solid #000;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto 0 0;
}

.navbar_logo {
    width: fit-content;
    height: 80%;
}

.logo img {
    width: 100%;
    height: 100%;
    cursor: url('./../../assets/link_select.svg'), auto;
}

.menu {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-right: auto;
}