.projects_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.projects_wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    background-color: #308de4;
    border-top: 5px solid #000;
}