:root {
  font-family: 'Baloo Thambi 2', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color1: #ef3453;
  --color2: #f89c1f;
  --color3: #fef625;
  --color4: #00e874;
  --color5: #00ccff;
  --color6: #b832ca;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}