/* NavBar.module.css */
.navBarItems {
    display: flex;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
    height: 100%;
    cursor: url('./../../assets/link_select.svg'), auto;
}

.item {
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 1.42px;
    line-height: 1.08rem;
    font-weight: 700;
    padding: 1rem 0;
    white-space: nowrap;
    position: relative;
    margin: 0 1rem;
    color: #000;
    cursor: url('./../../assets/link_select.svg'), auto;

    @media (max-width: 48rem) {
        display: none;
    }
}

.navBarItems_active {
    background-color: #000;
}
.item_active {
    color: #fff;
}

.navBarItems:hover {
    background-color: #000;
}

.navBarItems:hover .item {
    color: #fff;
}