.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.details_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1rem;
    width: 100%;
}

.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('./../../assets/link_select.svg'), auto;
}

.detail:hover a,
.detail:hover {
    color: #ffc0ef;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    cursor: url('./../../assets/link_select.svg'), auto;
}

.footer_name {
    margin-bottom: 0;
}

.footer_p {
    margin-left: 0.5rem;
}